body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white; /* Установка белого фона для сайта */
}

/* Стилизация основных слайдеров */
#horizontalSlider {
    position: absolute;
    bottom: 20%; /* Отступ от нижнего края экрана равен 1/5 высоты экрана */
    left: 12.5%; /* Отступ слева 1/8 ширины экрана */
    width: 75%; /* Ширина слайдера 3/4 от доступного пространства */
    height: 10px; /* Толщина полосы */
    background-color: black; /* Цвет слайдера */
}

#verticalSlider {
    position: absolute;
    height: 300px; /* Задаем фиксированную высоту для вертикального слайдера */
    width: 10px; /* Толщина полосы */
    background-color: black; /* Цвет слайдера */
    left: 25%; /* Отступ слева 1/4 ширины экрана */
    bottom: 20%; /* Отступ от низа экрана 1/5 высоты экрана */
    transform: rotate(-90deg); /* Поворачиваем слайдер на 90 градусов против часовой стрелки */
    transform-origin: top left; /* Точка, вокруг которой происходит поворот */
}

#verticalRangeSlider {
    width: 100%; /* Позволяет слайдеру заполнять свой контейнер */
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
}

/* Стили для всех типов ползунков */
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%; /* Обеспечивает, что слайдер растягивается на всю длину контейнера */
}

/* Стили для ползунка */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -7.5px; /* Выравниваем ползунок по центру */
    width: 30px;
    height: 15px;
    background: black;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb,
input[type="range"]::-ms-thumb {
    width: 30px;
    height: 15px;
    background: black;
    cursor: pointer;
}

/* Стили для дорожки слайдера */
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-moz-range-track,
input[type="range"]::-ms-track {
    width: 100%;
    height: 10px;
    background: black;
}

/* Убираем фокусную рамку, которая может появляться вокруг ползунка при клике */
input[type="range"]:focus {
    outline: none;
}
